%% If we even have multiple apps, move ebin,include,priv,src into apps/fooapp
% {sub_dirs, ["rel", "apps/fooapp"]}.

{sub_dirs, ["rel"]}.

%% Coverage
{cover_enabled, true}.

%% Dependencies
{deps_dir, ["deps"]}.
{deps, [
	{erldis, "1*", {git, "git://github.com/cstar/erldis.git", {branch, "master"}}}
       ]}.
